<p>Hey {{ name }},</p>
<p>thank you for registration in our wonderful application</p>
<p>Please, enter the code below to verify your account</p>

<h1 style="color: #b611b9; font-weight: bold">{{code}}</h1>

<p>If you did not request this email you can safely ignore it.</p>

<p>Have a nice day</p>
<p>Your RoommateSearch Team</p>
